<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Trading Dashboard</h1>
  </div>

  <mat-tab-group class="dashboard-tabs" dynamicHeight [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>account_balance</mat-icon>
        <span>Portfolio</span>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>inventory</mat-icon>
        <span>Holdings</span>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>show_chart</mat-icon>
        <span>Trade</span>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>trending_up</mat-icon>
        <span>Charts</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
